@model IEnumerable<ModelsLayer.Models.Books>

@{
    ViewBag.Title = "AllBooks";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    


    <div class="BookBody2">
        <div class="Title">Books(<asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>)</div>

        <div class="AllBooks">
            <div style="display: flex; flex-wrap: wrap; margin-left: 7%; margin-right:7%;">
                @foreach (var items in Model)
                {
                        <div class="card">
                            <div style="width: 190px;">
                                <div class="Imageblock">
                                    <img class="image2" src="../../assets/book1.png" alt="Book" />
                                </div>
                                <div class="Intro">

                                    <div class="bookName">@items.BookName </div>
                                    <div class="by">
                                        by
                                        <label>@items.Authors</label>
                                    </div>
                                    <div class="rating">
                                        <div class="rate">4.5</div>
                                        <div class="number">
                                            @items.AvailabeBooks
                                        </div>
                                    </div>
                                    <div class="price">Rs.@items.Price</div>
                                    <div class="ButtonsDiv">
                                        <input type="button" value="Add to Cart" class="AddtoCartbutton" id="addtoCartBtn-@items.BookId">
                                        <input type="button" value="WishList" class="Wishlistbutton" id="wishlistBtn-@items.BookId">
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                </div>
        </div>

    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
