@model IEnumerable<ModelsLayer.Models.GetWishListBooks>

@{
    ViewBag.Title = "AllWishListBooks";
}


<div style="width:100%;">
    <div class="Body3">

        <div class="Title"><a href="https://localhost:44380/Books/AllBooks">Home</a>/WishList(@ViewBag.Count)</div>

        <div class="Cart">
            <div class="heading">My WishList</div>

            <div style="display: flex; flex-direction: column;">

                @foreach (var items in Model)
                {
                <div class="cartitems">

                    <img ID="Image1" src=@items.ImagePath class="image2" alt="Book" />

                    <div class="Paper2">

                        <div>@items.BookName</div>
                        <div class="by">
                            by
                            <label>@items.Authors</label>
                        </div>
                        <div class="price">Rs.@items.Price</div>

                    </div>

                    <div style="display: flex; align-items: flex-end;">
                        <input type="button" value="Add to Cart" onclick="AddToCart(@items.BookId)" id="addtoCartBtn-@items.BookId" Style="height: 20%; background-color: #3371B5; color: white;">
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" onclick="DeleteWishBook(@items.WishListId)" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>

                </div>
                }

            </div>

        </div>
    </div>
</div>
